---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  llvm-*,
  modernize-*,
  performance-*,
  readability-identifier-naming,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -bugprone-unchecked-optional-access,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-special-member-functions,
  -llvm-header-guard,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers,
WarningsAsErrors: ""
HeaderFileExtensions:
  - h
  - hpp
  - cuh
  - in
ImplementationFileExtensions:
  - c
  - cpp
  - cu
HeaderFilterRegex: ""
FormatStyle: file
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: aNy_CasE
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ConstexprVariableCase: aNy_CasE
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.MemberConstantCase: CamelCase
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-function-cognitive-complexity.IgnoreMacros: "true"
  readability-identifier-naming.FunctionIgnoredRegexp: ".*_$"
SystemHeaders: false
